extends layout

block content
  h1= title
  p Timestamp: #{data.getTimeStamp()}
  p Number of sets #{data.getImageSets().length}
  p Max percentage of different pixels: #{data.getBiggestPercentualPixelDifference()}
  p Max distance: #{data.getBiggestDistanceDifference()}
  - var imageSets = data.getImageSets()
  table
    thead
        tr
            th Baseline
            th New Image
            th Diff Image
    tbody
        each set, index in imageSets
            tr
                td
                    a(href=set.getReferenceImage().getPath().replace('public', '.'))
                        img(src=set.getReferenceImage().getPath().replace('public', '.'))
                    p Name: #{set.getReferenceImage().getName()}
                    p Height: #{set.getReferenceImage().getHeight()}
                    p Width: #{set.getReferenceImage().getHeight()}
                    button(data-set-id=set.getId(), data-set-action='delete') Delete
                td
                    a(href=set.getNewImage().getPath().replace('public', '.'))
                        img(src=set.getNewImage().getPath().replace('public', '.'))
                    p Name: #{set.getNewImage().getName()}
                    p Height: #{set.getNewImage().getHeight()}
                    p Width: #{set.getNewImage().getHeight()}
                    button(data-set-id=set.getId(), data-set-action='add') New Baseline
                td
                    a(href=set.getDiffImage().getPath().replace('public', '.'))
                        img(src=set.getDiffImage().getPath().replace('public', '.'))
                    p Name: #{set.getDiffImage().getName()}
                    p Height: #{set.getDiffImage().getHeight()}
                    p Width: #{set.getDiffImage().getHeight()}
                    p Percentual Difference: #{set.getDifference()}
                    p Distance: #{set.getDistance()}
                    p Error: #{set.getError()}
