extends layout

block content
  h1= title
  div
    label Timestamp:
    label(id='timeStamp') #{data.getTimeStamp()}
  div
    label Number of sets:
    label(id='numberOfSets')  #{data.getImageSets().length}
  div
    label Max percentage of different pixels:
    label(id='maxPixelPercentage') #{data.getBiggestPercentualPixelDifference()}
  div
    label Max distance:
    label(id='maxDistance') #{data.getBiggestDistanceDifference()}
  div
    button(data-action='refreshAll') Refresh All
    label(id='refreshAllText')
  - var imageSets = data.getImageSets()
  table
    thead
        tr
            th Baseline
            th New Image
            th Diff Image
    tbody
        each set, index in imageSets
            tr
                td
                    a(href=set.getReferenceImage().getPath().replace('public', '.'))
                        img(src=set.getReferenceImage().getPath().replace('public', '.'), id='referenceImage')
                    p Name: #{set.getReferenceImage().getName()}
                    p Height: #{set.getReferenceImage().getHeight()}
                    p Width: #{set.getReferenceImage().getHeight()}
                    button(data-id=set.getId(), data-action='delete') Delete
                td
                    a(href=set.getNewImage().getPath().replace('public', '.'))
                        img(src=set.getNewImage().getPath().replace('public', '.'), id='newImage')
                    p Name: #{set.getNewImage().getName()}
                    p Height: #{set.getNewImage().getHeight()}
                    p Width: #{set.getNewImage().getHeight()}
                    div
                        button(data-id=set.getId(), data-action='add') New Baseline
                        label
                td
                    a(href=set.getDiffImage().getPath().replace('public', '.'))
                        img(src=set.getDiffImage().getPath().replace('public', '.'), id='diffImage')
                    p Name: #{set.getDiffImage().getName()}
                    p Height: #{set.getDiffImage().getHeight()}
                    p Width: #{set.getDiffImage().getHeight()}
                    p Percentual Difference: #{set.getDifference()}
                    p Distance: #{set.getDistance()}
                    p Error: #{set.getError()}
