extends layout

block content
  h1= title
  p Biggest difference: #{data.getBiggestDifference()}
  p Timestamp: #{data.getTimeStamp()}
  p Images displayed with greater difference of: Threshold TBD
  - var imageSets = data.getImageSets()
  table
    thead
        tr
            th Baseline
            th New Image
            th Diff Image
    tbody
        each set, index in imageSets
            tr
                td
                    a(href=set.getReferenceImage().getPath())
                        img(src=set.getReferenceImage().getPath())
                    p Name: #{set.getReferenceImage().getName()}
                    p Height: #{set.getReferenceImage().getHeight()}
                    p Width: #{set.getReferenceImage().getHeight()}
                    button(data-set-id=set.getId(), data-set-action='delete') Delete
                td
                    a(href=set.getNewImage().getPath())
                        img(src=set.getNewImage().getPath())
                    p Name: #{set.getNewImage().getName()}
                    p Height: #{set.getNewImage().getHeight()}
                    p Width: #{set.getNewImage().getHeight()}
                    button(data-set-id=set.getId(), data-set-action='add') New Baseline
                td
                    a(href=set.getDiffImage().getPath())
                        img(src=set.getDiffImage().getPath())
                    p Name: #{set.getDiffImage().getName()}
                    p Height: #{set.getDiffImage().getHeight()}
                    p Width: #{set.getDiffImage().getHeight()}
                    p Percentual Difference: #{set.getDifference()}
                    p Distance: #{set.getDistance()}
                    p Error: #{set.getError()}
